body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #3b5998;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 981px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left > .logo {
  font-size: 40px;
  font-weight: bold;
  margin-right: 5px;
}

.register-button {
  background-color: #42b72a;
  padding: 5px 10px;
}

.header-right {
  display: flex;
  align-items: center;
}

.nabla {
  width: 0px;
  height: 0px;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: 10px;
  margin-top: 10px;
}

.content {
  width: 981px;
  margin: 0 auto;
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
}

.type-choose {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

.type-choose > div {
  background-color: white;
  display: flex;
  width: 49%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 420px;
}

.type-choose-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-choose-title {
  font-size: 20x;
  font-weight: bold;
  padding: 10px 0;
}

.type-choose-text {
  text-align: center;
}
